<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>About</title>
  </head>
  <body>
    <nav class="navbar">
      <a href="/">Home</a> <a href="/about">About</a>
      <a href="/works">Works</a>
    </nav>

    <h2 class="title">About Musashi:</h2>
    <section class="about-container">
      <h3>Birth:</h3>
      <p>
        The details of Miyamoto Musashi's early life are difficult to verify.
        Musashi himself simply states in The Book of Five Rings that he was born
        in Harima Province. Niten Ki (an early biography of Musashi) supports
        the theory that Musashi was born in 1584: "He was born in Banshū, in
        Tenshō 12 1584, the Year of the Monkey." The historian Kamiko Tadashi,
        commenting on Musashi's text, notes: "Munisai was Musashi's father ...
        he lived in Miyamoto village, in the Yoshino district [of Mimasaka
        Province]. Musashi was most probably born here. Musashi gives his full
        name and title in The Book of Five Rings as Shinmen Musashi-no-Kami
        Fujiwara no Harunobu (新免武蔵守藤原玄信). His father, Shinmen Munisai
        (新免無二斎) was an accomplished martial artist and master of the sword
        and jutte (also jitte). Munisai, in turn, was the son of Hirata Shōgen
        (平田将監), a vassal of Shinmen Iga no Kami, the lord of Takayama Castle
        in the Yoshino district of Mimasaka Province.Hirata was relied upon by
        Lord Shinmen and so was allowed to use the Shinmen name. As for
        "Musashi", Musashi no Kami was a court title, making him the nominal
        governor of Musashi Province. "Fujiwara" was the lineage from which
        Musashi claimed descent.
      </p>
    </section>

    <section class="about-container">
      <h3>First Duel</h3>
      <p>
        I have trained in the way of strategy since my youth, and at the age of
        thirteen I fought a duel for the first time. My opponent was called
        Arima Kihei, a sword adept of the Shinto ryū, and I defeated him. At the
        age of sixteen I defeated a powerful adept by the name of Tadashima
        Akiyama, who came from Tajima Province. At the age of twenty-one I went
        up to Kyōtō and fought duels with several adepts of the sword from
        famous schools, but I never lost. — Miyamoto Musashi, Go Rin No Sho
        According to the introduction of The Book of Five Rings, Musashi states
        that his first successful duel was at the age of 13, against a samurai
        named Arima Kihei who fought using the Kashima Shintō-ryū style, founded
        by Tsukahara Bokuden (b. 1489, d. 1571). The main source of the duel is
        the Hyoho senshi denki ("Anecdotes about the Deceased Master").
        Summarized, its account goes as follows: In 1596, Musashi was 13, and
        Arima Kihei, who was traveling to hone his art, posted a public
        challenge in Hirafuku-mura. Musashi wrote his name on the challenge. A
        messenger came to Dorin's temple, where Musashi was staying, to inform
        Musashi that his duel had been accepted by Kihei. Dorin, Musashi's
        uncle, was shocked by this, and tried to beg off the duel in Musashi's
        name, based on his nephew's age. Kihei was adamant that the only way his
        honour could be cleared was if Musashi apologized to him when the duel
        was scheduled. So when the time set for the duel arrived, Dorin began
        apologizing for Musashi, who merely charged at Kihei with a six-foot
        quarterstaff, shouting a challenge to Kihei. Kihei attacked with a
        wakizashi, but Musashi threw Kihei on the floor, and while Kihei tried
        to get up, Musashi struck Arima between the eyes and then beat him to
        death. Arima was said to have been arrogant, overly eager to battle, and
        not a terribly talented swordsman.
      </p>
    </section>
    <section class="about-container">
      <h3>Later Life</h3>
      <p>
        Miyamoto Musashi, Self-portrait, Samurai, writer and artist, c. 1640 Six
        years later, in 1633, Musashi began staying with Hosokawa Tadatoshi,
        daimyō of Kumamoto Castle, who had moved to the Kumamoto fief and
        Kokura, to train and paint.It was at this time that the Hosokawa lords
        were also the patrons of Musashi's chief rival, Sasaki Kojirō. While he
        engaged in very few duels; one would occur in 1634 at the arrangement of
        Lord Ogasawara, in which Musashi defeated a lance specialist by the name
        of Takada Matabei. Musashi would officially become the retainer of the
        Hosokowa lords of Kumamoto in 1640. The Niten Ki records he received
        from Lord Tadatoshi: 17 retainers, a stipend of 300 koku, the rank of
        ōkumigashira 大組頭, and Chiba Castle in Kumamoto as his
        residence.Miyamoto Musashi's grave in Ōhara-chō, province of Mimasaka.
        The grave-marker of Miyamoto Musashi, in present-day Kumamoto Prefecture
        (熊本県) Miyamoto Musashi kills a shark fish (Yamazame) in the mountains
        across the border of Echizen Province, by Utagawa Kuniyoshi Miyamoto
        Musashi in his prime, wielding two bokken; woodblock print by Utagawa
        Kuniyoshi In the second month of 1641, Musashi wrote a work called the
        Hyoho Sanju Go ("Thirty-five Instructions on Strategy") for Hosokawa
        Tadatoshi, this work overlapped and formed the basis for the later The
        Book of Five Rings. This was the year that his adopted son, Hirao
        Yoemon, became Master of Arms for the Owari fief. In 1642, Musashi
        suffered attacks of neuralgia, foreshadowing his future ill-health. In
        1643 he retired to a cave named Reigandō as a hermit to write The Book
        of Five Rings. He finished it in the second month of 1645. On the
        twelfth of the fifth month, sensing his impending death, Musashi
        bequeathed his worldly possessions, after giving his manuscript copy of
        The Book of Five Rings to the younger brother of Terao Magonojo, his
        closest disciple. He died in Reigandō cave around June 13, 1645 (Shōhō
        2, 19th day of the 5th month). The Hyoho senshi denki described his
        passing: At the moment of his death, he had himself raised up. He had
        his belt tightened and his wakizashi put in it. He seated himself with
        one knee vertically raised, holding the sword with his left hand and a
        cane in his right hand. He died in this posture, at the age of
        sixty-two. The principal vassals of Lord Hosokawa and the other officers
        gathered, and they painstakingly carried out the ceremony. Then they set
        up a tomb on Mount Iwato on the order of the lord. Miyamoto Musashi died
        of what is believed to be thoracic cancer.He died peacefully after
        finishing the text Dokkōdō ("The Way of Walking Alone", or "The Way of
        Self-Reliance"), 21 precepts on self-discipline to guide future
        generations.
      </p>
    </section>
  </body>
</html>
