<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />

    <title>Home</title>
  </head>
  <body>
    <h1 class="title">Miyamoto Musashi</h1>
    <nav class="navbar">
      <a href="/">Home</a> <a href="about">About</a>
      <a href="works">Works</a>
    </nav>

    <section class="info-container">
      <h1>One of the famous Samurai of Japan</h1>
      <p>
        Miyamoto Musashi (宮本 武蔵, c. 1584 – 13 June 1645), also known as
        Shinmen Takezō, Miyamoto Bennosuke or, by his Buddhist name, Niten
        Dōraku, was a Japanese swordsman, philosopher, strategist, writer and
        rōnin, who became renowned through stories of his unique double-bladed
        swordsmanship and undefeated record in his 61 duels (next is 33 by Itō
        Ittōsai). Musashi, as he was often simply known, is considered a Kensei,
        a sword-saint of Japan. He was the founder of the Niten Ichi-ryū, or
        Nito Ichi-ryū, style of swordsmanship, and in his final years authored
        The Book of Five Rings (五輪の書, Go Rin No Sho) and Dokkōdō (The Path
        of Aloneness).
      </p>
      <img
        class="musashi-img"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Miyamoto_Musashi-Portrait-Edo-period.png/440px-Miyamoto_Musashi-Portrait-Edo-period.png"
        alt="miyamoto-musashi"
      />
    </section>
  </body>
</html>
