<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Works</title>
  </head>
  <body>
    <nav class="navbar">
      <a href="/">Home</a><a href="/about/">About</a>
      <a href="/works/">Works</a>
    </nav>
    <h2 class="title">Books Musashi wrote:</h2>
    <section class="books-container">
      <h3>Hyodokyo (The Mirror of the Way of Strategy) - first book</h3>
      <h3>
        Hyoho Sanjugo Kajo (Thirty-five Instructions on Strategy) - second book
      </h3>
      <h3>
        Hyoho Shijuni Kajo (Forty-two Instructions on Strategy) - third book
      </h3>
      <h3>Dokkōdō (The Way to be Followed Alone) - fourth book</h3>
      <h3>
        The Book of Five Rings (五輪書, Go Rin no Sho): - fived book and the
        last he wrote before he died
      </h3>
      <p>
        In Musashi's last book, The Book of Five Rings (五輪書, Go Rin no Sho),
        Musashi seems to take a very philosophical approach to looking at the
        "craft of war": "There are five ways in which men pass through life: as
        gentlemen, warriors, farmers, artisans and merchants." Throughout the
        book, Musashi implies that the way of the Warrior, as well as the
        meaning of a "true strategist" is that of somebody who has made mastery
        of many art forms away from that of the sword, such as tea drinking
        (sadō), laboring, writing, and painting, as Musashi practiced throughout
        his life.Musashi was hailed as an extraordinary sumi-e artist in the use
        of ink monochrome as depicted in two such paintings: "Shrike Perched in
        a Dead Tree" (Koboku Meigekizu, 枯木鳴鵙図) and "Wild Geese Among Reeds"
        (Rozanzu, 魯山図). Going back to the Book of Five Rings, Musashi talks
        deeply about the ways of Buddhism. He makes particular note of artisans
        and foremen. When he wrote the book, the majority of houses in Japan
        were made of wood. In the use of building a house, foremen have to
        employ strategy based upon the skill and ability of their workers. In
        comparison to warriors and soldiers, Musashi notes the ways in which the
        artisans thrive through events; the ruin of houses, the splendor of
        houses, the style of the house, the tradition and name or origins of a
        house. These too, are similar to the events which are seen to have
        warriors and soldiers thrive; the rise and fall of prefectures,
        countries and other such events are what make uses for warriors, as well
        as the literal comparisons: The carpenter uses a master plan of the
        building, and the way of strategy is similar in that there is a plan of
        campaign.
      </p>
      <h3>Way of strategy Ni-Ten Ichi Ryu:</h3>
      <p>
        Within the book, Musashi mentions that the use of two swords within
        strategy is equally beneficial to those who use the skill for individual
        duels or large engagements. The idea of using two hands for a sword is
        an idea that Musashi opposes because there is no fluidity in movement
        with two hands: "If you hold a sword with both hands, it is difficult to
        wield it freely to left and right, so my method is to carry the sword in
        one hand." He also disagrees with the idea of using a sword with two
        hands on a horse and/or riding on unstable terrain, such as muddy
        swamps, rice fields, or within crowds of people. To learn the strategy
        of Ni-Ten Ichi Ryū, Musashi employs that by training with two long
        swords, one in each hand, one will be able to overcome the cumbersome
        nature of using a sword in both hands. Although it is difficult, Musashi
        agrees that there are times in which the long sword must be used with
        two hands, but one whose skill is good enough should not need it. After
        using two long swords proficiently enough, mastery of a long sword, and
        a "companion sword", most likely a wakizashi, will be much increased:
        "When you become used to wielding the long sword, you will gain the
        power of the Way and wield the sword well." In short, it could be seen,
        from the excerpts from The Book of Five Rings, that real strategy behind
        Ni-Ten No Ichi Ryu, is that there is no real iron-clad method, path, or
        type of weaponry specific to the style of Ni-Ten No Ichi Ryu: You can
        win with a long weapon, and yet you can also win with a short weapon. In
        short, the Way of the Ichi school is the spirit of winning, whatever the
        weapon and whatever its size.
      </p>
    </section>
    <section class="books-container">
      <h3>Religion:</h3>
      <p>
        Even from an early age, Musashi separated his religion from his
        involvement in swordsmanship. From The Book of Five Rings, demonstrate a
        philosophy that is thought to have stayed with him throughout his life:
        There are many ways: Confucianism, Buddhism, the ways of elegance,
        rice-planting, or dance; these things are not to be found in the way of
        the warrior.However, the belief that Musashi disliked Shinto is
        inaccurate, as he criticises the Shintō-ryū style of swordsmanship, not
        Shinto, the religion. In Musashi's Dokkōdō, his stance on religion is
        further elucidated: "Respect Buddha and the gods without counting on
        their help."
      </p>
    </section>
  </body>
</html>
